.card {
  position: relative;
  border: 1px solid #f0f5f9;
}

.card-header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #c9d6de;
  font-size: 12px;
  font-weight: 500;
}

.badge {
  border-radius: 2px;
  font-weight: bold;
  font-size: 13px !important;
}

.badge.cat-badge {
  position: absolute;
  right: 12px;
  top: 8px;
  padding: 0px 7px;
  border: 1px solid #c9d6de;
  background-color: #f0f5f9;
  color: #52616a;
  text-transform: uppercase;
  font-weight: 500;
}

.card a, .card a:link, .card a:visited {
  color: #52616a;
}

.card a:hover {
  color: #9bafbb;
}

.title {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title:hover {
  white-space: normal;
}

.card-body {
  width: 100%;
  padding: 15px;
  color: #52616a;
}

.question {
  margin-bottom: 20px;
}

.badge.q-badge, .badge.a-badge {
  float: left;
  width: 88px;
  margin-right: 10px;
  padding: 0;
  color: white;
}

.q-badge {
  background-color: #fd999a;
}

.a-badge {
  background-color: #7fb4b5;
}

.author {
  width: 100%;
  text-align: right;
  margin-right: 20%;
  font-weight: 500;
  color: #9bafbb;
}

.sent {
  font-weight: bold;
}

.badge.sent-badge {
  float: none;
  text-transform: uppercase;
  color: #52616a;
  padding: 2px 10px;
  margin-left: 5px;
  font-weight: 500;
}

.row .col.s4.cat-card {
  width: calc(33.33333% - 32px/3);
  padding: 20px;
  background-color: #9bafbb;
  text-align: center;
  color: #52616a;
  box-shadow: none;
}

.row .col.s4.cat-card:not(:last-child) {
  margin-right: 16px;
}

.positive {
  background-color: #e8f5e9 !important;
  border: 1px solid #c8e6c9 !important;
}

.negative {
  background-color: #ffebee !important;
  border: 1px solid #ffcdd2 !important;
}

.neutral {
  background-color: #f0f5f9 !important;
  border: 1px solid #c9d6de !important;
}

.row .col.s4.cat-card .card-body {
  color: #52616a;
  font-size: 2em;
}

.card.cat-card .card-title {
  padding-top: 15px;
  color: #52616a;
  font-weight: 300;
  font-size: 1.3em;
  text-transform: uppercase;
}
