{% load staticfiles %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
        <link rel="stylesheet" href="/static/main.css?{% now 'U' %}">
        <link rel="stylesheet" href="/static/card.css?{% now 'U' %}">

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
    </head>
    
    <body>
        <!-- <div class="topcorner">
            <p>Ask Me Anything</p>
            <p>Charles Yu (ccy27)</p>
            <p>Soobin Han (sh767)</p>
            <p>Ritwik Dan (rd389)</p>
            <p>Jenny (Yoon Jae) Kim (yk494)</p>
        </div> -->
        <!-- <div>
            {% for doc in sample %}
                {{doc.answer_id}} {{doc.title}}<br>
            {% endfor %}
        </div> -->

        <div class="wrapper">
            <div class="row form-container">
                <form class="col s12" method="GET">
                    <div class="input-field">
                        <input id="input" type="text" name="search">
                        <label for="input">Ask about anything</label>
                    </div>
                </form>
            </div>

            <div class="row output">
                <h4> {{result_label}}</h4><br>
                {% for doc in output %}
                    <div class="col s12 card">
                        <div class="card-header">
                            <div class="title">
                            <a href="{{doc.url}}" target="_blank">{{doc.title}}</a>
                            </div>
                            <span class="badge cat-badge">{{doc.category}}</span>
                        </div>
                        <div class="card-body">
                            <div class="question">
                                <span class="badge q-badge">QUESTION</span>
                                {{doc.question_text}}
                                <div class="author"> &mdash; /u/{{doc.asker}}</div>
                            </div>

                            <div class="answer">
                                <span class="badge a-badge">ANSWER</span>
                                {{doc.answer_text}}
                                <div class="author"> &mdash; /u/{{doc.op}}</div>
                            </div>

                            <div class="sent">
                                SENTIMENT: <span class="badge sent-badge {{doc.sent_label}}">{{doc.sent_label}} {{doc.sent_score}}</span>
                            </div>

                        </div>

                    </div>
                {% endfor %}
                
                <div class="pagination">
                    <span class="step-links">
                        {% if output.has_previous %}
                        <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                        {% endif %}
                        
                        <!-- Showing the page numbers in Html Page -->
                        <span class="current">
                        Page _{{ output.number }}_ of _{{ output.paginator.num_pages }}_
                        </span>
                        
                        {% if output.has_next %}
                        <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        
    </body>
</html>
